/* ---------------------------------------- *\
    
    
    Dropdowns


\* ---------------------------------------- */

.has-dropdown {
	position:relative;

	.dropdown-icon {
		transform: translateZ(0) rotate(0);
	}

	.is-active {
		.dropdown-icon {
			transform: translateZ(0) rotate(-180deg);
		}
	}
}

	.dropdown {
		@extend %card;
		position:absolute;
		top:100%;
		left:0;
		z-index: $z-stack-top;
		display:none;
		border-radius: $border-radius-sm;

			@include context(tablet) {
				min-width: 280px;
			}
	}
		.dropdown--right {
			left:auto;
			right:0;
		}

	.dropdown.is-visible {
		display:block;
		box-shadow: 0 3px 12px rgba(0,0,0,.2), 0 1px 5px rgba(0,0,0,.18);
	}