/* ---------------------------------------- *\
    
    
    Grid
    

\* ---------------------------------------- */

%g {

	@extend %clearfix;
	
	
	// Base unit classes, mobile and tablet+


	[class*="u-"] {
		@extend %clearfix;
		min-height: 1px;
	}

	[class*="u-sm-"] {
		@include context(small-screens-only) {
			float:left;
		}
		@for $u-mobile from 1 through 12 {
            &.u-sm-#{$u-mobile},
            %u-sm-#{$u-mobile}	{ width: percentage($u-mobile/12); }
        }
	}

	[class*="u-md-"] {
		@include context(tablet) {
			float:left;

			@for $u from 1 through 12 {
            	&.u-md-#{$u},
            	%u-md-#{$u}	{ width: percentage($u/12); }
        	}
		}
	}
	
	[class*="u-lg-"] {
		@include context(monitor) {
			float: left;
			
			@for $u from 1 through 12 {
				&.u-lg-#{$u},
				%u-lg-#{$u} { width: percentage($u/12); }
			}
		}
	}


	// Offset classes for skipping units in the grid system


	[class*="offset-"] {
		position:relative;
	}

	[class*="offset-sm-"] {
		@include context(small-screens-only) {
			@for $u-mobile from 1 through 12 {
            	&.offset-sm-#{$u-mobile},
            	%offset-sm-#{$u-mobile}   { margin-left: percentage($u-mobile/12); }
        	}
		}
	}

	[class*="offset-md-"] {
		@include context(tablet) {
			@for $u from 1 through 12 {
            	&.offset-md-#{$u},
            	%offset-md-#{$u}   { margin-left: percentage($u/12); }
        	}
		}
	}


	// Pull classes for moving columns left regardless of source-order


	[class*="pull-"] {
		position:relative;
	}

	[class*="pull-sm-"] {
		@include context(small-screens-only) {
			@for $pull-mobile from 1 through 12 {
            	&.pull-sm-#{$pull-mobile},
            	%pull-sm-#{$pull-mobile}   {left: -(percentage($pull-mobile/12)); }
        	}
		}
	}

	[class*="pull-md-"] {
		@include context(tablet) {
			@for $pull from 1 through 12 {
            	&.pull-md-#{$pull},
            	%pull-md-#{$pull}   {left: -(percentage($pull/12)); }
        	}
		}
	}


	// Push classes for moving columns right regardless of source-order


	[class*="push-"] {
		position:relative;
	}

	[class*="push-sm-"] {
		@include context(small-screens-only) {
			@for $push-mobile from 1 through 12 {
            	&.push-sm-#{$push-mobile},
            	%push-sm-#{$push-mobile}   { left: percentage($push-mobile/12); }
        	}
		}
	}

	[class*="push-md-"] {
		@include context(tablet) {
			@for $push from 1 through 12 {
            	&.push-md-#{$push},
            	%push-md-#{$push}   { left: percentage($push/12); }
        	}
		}
	}

}

.g {
	@extend %g;
}

.g-gutters {
    @extend %clearfix;

    @include context(tablet) {
    	padding-left: $grid-gutter-size;
    }

    [class*="u-sm"] {
    	@include context(small-screens-only) {
    		padding-right: 0; // kill gutters for mobile screens
    	}
    }

    [class*="u-md-"] {
    	@include context(tablet) {
    		padding-right: $grid-gutter-size;
    	}
    }

    .g {
    	[class*="u-"] {
			padding-right:0;
    	}
    }
}


// Legacy support (remove in future version)
.g {
    @include context(small-screens-only) {
        
        [class*="unit-mobile"] {
            float:left;
            min-height:1px;
        }

        .unit-mobile-three-fourths { width: percentage(3/4); }
        .unit-mobile-two-thirds { width: percentage(2/3); }
        .unit-mobile-half   { width: percentage(1/2); }
        .unit-mobile-third  { width: percentage(1/3); }
        .unit-mobile-fourth { width: percentage(1/4); }
    }
    
    @include context(tablet) {

        [class*="unit-"] {
            float:left;
            min-height:1px;
        }

        @for $g from 1 through 12 {
            .unit-#{$g}     { width: percentage($g/12); }
            .offset-#{$g}   { margin-left: percentage($g/12); }
        }

        .unit-whole         { width: percentage(1/1); }
        .unit-half          { width: percentage(1/2); }
        .unit-third         { width: percentage(1/3); }
        .unit-fourth        { width: percentage(1/4); }

        .offset-half        { margin-left: percentage(1/2); }
        .offset-third       { margin-left: percentage(1/3); }
        .offset-fourth      { margin-left: percentage(1/4); }

    } // @include context()

    .unit-centered {
        @extend %center-block;
        float:none;
    }
}