
    
//    CONTENTS
//    ========
//    Header
//    Sidebar




// ----------------------------------------
// Header
// ----------------------------------------

.page-header {
    height: 60px;
    @extend %clearfix;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, .15));

    .main-heading {
        margin:0;
        font-size:24px;
        height: 60px;
        line-height: 59px;
    }

    .nav {
        margin:0;

        a {
            float:left;
            height: 60px;
            line-height:59px;
            padding: 0 10px;
        }
    }
}




// ----------------------------------------
// Sidebar
// ----------------------------------------


.sidebar {
    background-color: $color-sidebar-bg;

    @include context(tablet) {
        position:fixed;
        top:0;
        height:100%;
    }
}

.sidebar--left {
    @include context(tablet) {
        left:0;
    }
}

.sidebar--right {
    @include context(tablet) {
        right:0;
    }
}
