/*      
    
    Edit these variables to control various settings on the site.

*/
/*      
    
    Edit these variables to control various settings on the site.

*/
/*      
    
    CONTENTS
    ========
    Mixins
    Silent Mixins
    Debug

*/
/* ---------------------------------------- *\


    Mixins


\* ---------------------------------------- */
/* ---------------------------------------- *\


    Silent Mixins

    Also known as placeholders or extensions, these rules don't get
    rendered to the CSS file unless they are extended in a prop later down
    the stylesheet. Use like this:

    .test {
        @extend %clearfix;
        // all of %clearfix's styles will be applied to .test
    }


\* ---------------------------------------- */
.breakpoint-test li {
  margin: 0;
  padding: 0; }

/* ---------------------------------------- *\


    Debug


\* ---------------------------------------- */
.breakpoint-test {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%; }
  .breakpoint-test li {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 5px;
    outline: none; }
  @media (max-width: 25em) {
    .breakpoint-test .bp-hand-only {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test .bp-hand-wide {
      display: block; } }
  @media (min-width: 25em) and (max-width: 43em) {
    .breakpoint-test .bp-hand-wide-only {
      display: block; } }
  @media (min-width: 43em) {
    .breakpoint-test .bp-tablet {
      display: block; } }
  @media (min-width: 43em) and (max-width: 63em) {
    .breakpoint-test .bp-tablet-only {
      display: block; } }
  @media (min-width: 63em) {
    .breakpoint-test .bp-monitor {
      display: block; } }
  @media (min-width: 63em) and (max-width: 80em) {
    .breakpoint-test .bp-monitor-only {
      display: block; } }
  @media (min-width: 100em) {
    .breakpoint-test .bp-tv {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test {
      width: 30%;
      max-width: 120px;
      top: 0;
      right: 0;
      left: auto;
      bottom: auto; } }

/*      
    
    CONTENTS
    ========
    Header
    Sidebar

*/
/* ---------------------------------------- *\


    Header


\* ---------------------------------------- */
.page-header {
  height: 60px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  .page-header .main-heading {
    margin: 0;
    font-size: 24px;
    height: 60px;
    line-height: 59px; }
  .page-header .nav {
    margin: 0; }
    .page-header .nav a {
      float: left;
      height: 60px;
      line-height: 59px;
      padding: 0 10px; }

/* ---------------------------------------- *\


    Sidebar


\* ---------------------------------------- */
.sidebar {
  background-color: #f5f5f5; }
  @media (min-width: 43em) {
    .sidebar {
      position: fixed;
      top: 0;
      height: 100%; } }

@media (min-width: 43em) {
  .sidebar--left {
    left: 0; } }

@media (min-width: 43em) {
  .sidebar--right {
    right: 0; } }

.lt-ie9 .sidebar {
  position: fixed;
  top: 0;
  height: 100%; }
.lt-ie9 .sidebar--left {
  left: 0; }
.lt-ie9 .sidebar--right {
  right: 0; }

/*# sourceMappingURL=components.css.map */