/*      
    
    Edit these variables to control various settings on the site.

*/
/*      
    
    CONTENTS
    ========
    Mixins
    Silent Mixins
    Debug

*/
/* ---------------------------------------- *\


    Mixins


\* ---------------------------------------- */
/* ---------------------------------------- *\


    Silent Mixins

    Also known as placeholders or extensions, these rules don't get
    rendered to the CSS file unless they are extended in a prop later down
    the stylesheet. Use like this:

    .test {
        @extend %clearfix;
        // all of %clearfix's styles will be applied to .test
    }


\* ---------------------------------------- */
.breakpoint-test li {
  margin: 0;
  padding: 0; }

pre, table {
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* ---------------------------------------- *\


    Debug


\* ---------------------------------------- */
.breakpoint-test {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%; }
  .breakpoint-test li {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 5px;
    outline: none; }
  @media (max-width: 25em) {
    .breakpoint-test .bp-hand-only {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test .bp-hand-wide {
      display: block; } }
  @media (min-width: 25em) and (max-width: 43em) {
    .breakpoint-test .bp-hand-wide-only {
      display: block; } }
  @media (min-width: 43em) {
    .breakpoint-test .bp-tablet {
      display: block; } }
  @media (min-width: 43em) and (max-width: 63em) {
    .breakpoint-test .bp-tablet-only {
      display: block; } }
  @media (min-width: 63em) {
    .breakpoint-test .bp-monitor {
      display: block; } }
  @media (min-width: 63em) and (max-width: 80em) {
    .breakpoint-test .bp-monitor-only {
      display: block; } }
  @media (min-width: 100em) {
    .breakpoint-test .bp-tv {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test {
      width: 30%;
      max-width: 120px;
      top: 0;
      right: 0;
      left: auto;
      bottom: auto; } }

/*
   
    CONTENTS
    ========
    Global Rules
    Body/HTML
    Typography
    Links
    Forms
    Media
    Tables

*/
/* ---------------------------------------- *\


    Global Rules


\* ---------------------------------------- */
*, *:before, *:after, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::selection, ::-moz-selection {
  background-color: white; }

/* ---------------------------------------- *\


    Body/HTML


\* ---------------------------------------- */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 16px;
  line-height: 1.375em; }

/* ---------------------------------------- *\


    Typography


\* ---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 3.375em;
  line-height: 1.44444em;
  margin-top: 0.96296em;
  margin-bottom: 0.48148em; }

h2 {
  font-size: 2.25em;
  line-height: 1.44444em;
  margin-top: 1.44444em;
  margin-bottom: 0.72222em; }

h3 {
  font-size: 1.5em;
  line-height: 1.08333em;
  margin-top: 1.08333em;
  margin-bottom: 1.08333em; }

h4, h5, h6 {
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 1.625em; }

p, ul, ol, pre, table, blockquote, nav, form {
  margin-top: 1.625em;
  margin-bottom: 1.625em; }

hr {
  border: 1px solid #ededed;
  margin-bottom: 1.625em; }

h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr {
  margin-top: -1.65em; }

ul, ol {
  margin-left: 1.75em;
  list-style: disc; }
  ul li, ol li {
    margin-bottom: 0.3em; }
    ul li:last-child, ol li:last-child {
      margin-bottom: 0; }

ol {
  list-style: decimal; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code, nav {
  line-height: 1; }

small {
  font-size: 0.75em; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #888;
  font-weight: normal; }

pre {
  padding: 0.65em;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  display: block; }
  @media (min-width: 25em) {
    pre {
      overflow-x: auto;
      overflow-y: auto; } }

code, pre, kbd, samp {
  background: #ededed;
  font-family: monospace;
  font-size: 0.9em; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  bottom: -0.4em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  padding-left: 1em;
  border-left: 5px solid #ededed; }
  blockquote cite {
    display: block;
    color: #888; }
    blockquote cite:before {
      content: "— "; }

/* ---------------------------------------- *\


    Links


\* ---------------------------------------- */
a {
  text-decoration: none;
  color: #5fc42d; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 1px solid;
  padding: 2px; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    border-bottom-width: 2px; }

p a {
  border-bottom: 1px solid;
  padding: 0.125em 0.125em 0 0.125em; }
  p a:hover {
    border-bottom-width: 2px; }

/* ---------------------------------------- *\


    Forms


\* ---------------------------------------- */
fieldset {
  margin-bottom: 0.5em; }

button, input, optgroup, select, textarea {
  border: 1px solid #ccc;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle; }
  button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: 0;
    border-color: #999999; }

label {
  display: block;
  font-size: 0.9em;
  line-height: 1em;
  margin: 0 0 0.125em; }

input[type="text"], input[type="search"], input[type="email"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: none;
  border-radius: none;
  padding: 0.35em 0.5em 0.375em;
  margin: 0; }

input[type="text"], input[type="search"], input[type="email"], textarea, select:focus, select:hover {
  color: #444; }

select {
  line-height: 2.187em;
  height: 2.187em;
  color: #888;
  margin: 0;
  cursor: pointer; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-resolution: 120dpi) {
    select {
      -webkit-appearance: listbox;
      background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
      /* simple arrow img */
      background-repeat: no-repeat;
      background-position: right center;
      padding-left: 0.5em; } }

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #888; }

/* ---------------------------------------- *\


    Media


\* ---------------------------------------- */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0; }
  @media (min-width: 43em) {
    img {
      width: auto;
      max-width: 100%; } }

/* ---------------------------------------- *\


    Tables


\* ---------------------------------------- */
table {
  border-collapse: collapse;
  display: table;
  border-spacing: 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch; }
  table th, table td {
    border: 1px solid #ededed; }
  table th {
    background: #ededed;
    font-weight: bold;
    padding: 0.8em 0.85em; }
  table td {
    font-size: 0.9em;
    padding: 0.8em 1em; }
  @media (min-width: 25em) {
    table {
      overflow-x: auto;
      overflow-y: auto; } }

/*# sourceMappingURL=elements.css.map */