/*      
    
    Edit these variables to control various settings on the site.

*/
/*      
    
    CONTENTS
    ========
    Mixins
    Silent Mixins
    Debug

*/
/* ---------------------------------------- *\


    Mixins


\* ---------------------------------------- */
/* ---------------------------------------- *\


    Silent Mixins

    Also known as placeholders or extensions, these rules don't get
    rendered to the CSS file unless they are extended in a prop later down
    the stylesheet. Use like this:

    .test {
        @extend %clearfix;
        // all of %clearfix's styles will be applied to .test
    }


\* ---------------------------------------- */
.cf, .cf--mobile, .g, .g [class*="unit-mobile"], .g [class*="unit-"], .lt-ie9 [class*="unit-"] {
  zoom: 1; }
  .cf:after, .cf--mobile:after, .g:after, .g [class*="unit-mobile"]:after, .g [class*="unit-"]:after, .lt-ie9 [class*="unit-"]:after {
    content: "";
    display: table;
    clear: both; }

.breakpoint-test li {
  margin: 0;
  padding: 0; }

.g .unit-centered {
  display: block;
  margin-right: auto;
  margin-left: auto; }

/* ---------------------------------------- *\


    Debug


\* ---------------------------------------- */
.breakpoint-test {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%; }
  .breakpoint-test li {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 5px;
    outline: none; }
  @media (max-width: 25em) {
    .breakpoint-test .bp-hand-only {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test .bp-hand-wide {
      display: block; } }
  @media (min-width: 25em) and (max-width: 43em) {
    .breakpoint-test .bp-hand-wide-only {
      display: block; } }
  @media (min-width: 43em) {
    .breakpoint-test .bp-tablet {
      display: block; } }
  @media (min-width: 43em) and (max-width: 63em) {
    .breakpoint-test .bp-tablet-only {
      display: block; } }
  @media (min-width: 63em) {
    .breakpoint-test .bp-monitor {
      display: block; } }
  @media (min-width: 63em) and (max-width: 80em) {
    .breakpoint-test .bp-monitor-only {
      display: block; } }
  @media (min-width: 100em) {
    .breakpoint-test .bp-tv {
      display: block; } }
  @media (min-width: 25em) {
    .breakpoint-test {
      width: 30%;
      max-width: 120px;
      top: 0;
      right: 0;
      left: auto;
      bottom: auto; } }

@media (min-width: 43em) {
  .cf--mobile {
    display: none; } }

@media (max-width: 43em) {
  .g [class*="unit-mobile"] {
    float: left;
    min-height: 1px; }
  .g .unit-mobile-three-fourths {
    width: 75%; }
  .g .unit-mobile-two-thirds {
    width: 66.66667%; }
  .g .unit-mobile-half {
    width: 50%; }
  .g .unit-mobile-third {
    width: 33.33333%; }
  .g .unit-mobile-fourth {
    width: 25%; } }
@media (min-width: 43em) {
  .g [class*="unit-"] {
    float: left;
    min-height: 1px; }
  .g .unit-1 {
    width: 8.33333%; }
  .g .offset-1 {
    margin-left: 8.33333%; }
  .g .unit-2 {
    width: 16.66667%; }
  .g .offset-2 {
    margin-left: 16.66667%; }
  .g .unit-3 {
    width: 25%; }
  .g .offset-3 {
    margin-left: 25%; }
  .g .unit-4 {
    width: 33.33333%; }
  .g .offset-4 {
    margin-left: 33.33333%; }
  .g .unit-5 {
    width: 41.66667%; }
  .g .offset-5 {
    margin-left: 41.66667%; }
  .g .unit-6 {
    width: 50%; }
  .g .offset-6 {
    margin-left: 50%; }
  .g .unit-7 {
    width: 58.33333%; }
  .g .offset-7 {
    margin-left: 58.33333%; }
  .g .unit-8 {
    width: 66.66667%; }
  .g .offset-8 {
    margin-left: 66.66667%; }
  .g .unit-9 {
    width: 75%; }
  .g .offset-9 {
    margin-left: 75%; }
  .g .unit-10 {
    width: 83.33333%; }
  .g .offset-10 {
    margin-left: 83.33333%; }
  .g .unit-11 {
    width: 91.66667%; }
  .g .offset-11 {
    margin-left: 91.66667%; }
  .g .unit-12 {
    width: 100%; }
  .g .offset-12 {
    margin-left: 100%; }
  .g .unit-whole {
    width: 100%; }
  .g .unit-half {
    width: 50%; }
  .g .unit-third {
    width: 33.33333%; }
  .g .unit-fourth {
    width: 25%; }
  .g .offset-half {
    margin-left: 50%; }
  .g .offset-third {
    margin-left: 33.33333%; }
  .g .offset-fourth {
    margin-left: 25%; } }
.g .unit-centered {
  float: none; }

@media (min-width: 43em) {
  .g--guttered {
    margin-left: -1.625em; }
    .g--guttered [class*="unit-"] {
      padding-left: 1.625em; } }

.lt-ie9 [class*="unit-"] {
  float: left;
  min-height: 1px; }
.lt-ie9 .unit-1 {
  width: 8.33333%; }
.lt-ie9 .offset-1 {
  margin-left: 8.33333%; }
.lt-ie9 .unit-2 {
  width: 16.66667%; }
.lt-ie9 .offset-2 {
  margin-left: 16.66667%; }
.lt-ie9 .unit-3 {
  width: 25%; }
.lt-ie9 .offset-3 {
  margin-left: 25%; }
.lt-ie9 .unit-4 {
  width: 33.33333%; }
.lt-ie9 .offset-4 {
  margin-left: 33.33333%; }
.lt-ie9 .unit-5 {
  width: 41.66667%; }
.lt-ie9 .offset-5 {
  margin-left: 41.66667%; }
.lt-ie9 .unit-6 {
  width: 50%; }
.lt-ie9 .offset-6 {
  margin-left: 50%; }
.lt-ie9 .unit-7 {
  width: 58.33333%; }
.lt-ie9 .offset-7 {
  margin-left: 58.33333%; }
.lt-ie9 .unit-8 {
  width: 66.66667%; }
.lt-ie9 .offset-8 {
  margin-left: 66.66667%; }
.lt-ie9 .unit-9 {
  width: 75%; }
.lt-ie9 .offset-9 {
  margin-left: 75%; }
.lt-ie9 .unit-10 {
  width: 83.33333%; }
.lt-ie9 .offset-10 {
  margin-left: 83.33333%; }
.lt-ie9 .unit-11 {
  width: 91.66667%; }
.lt-ie9 .offset-11 {
  margin-left: 91.66667%; }
.lt-ie9 .unit-12 {
  width: 100%; }
.lt-ie9 .offset-12 {
  margin-left: 100%; }
.lt-ie9 .g--guttered {
  margin-left: -1.625em; }
  .lt-ie9 .g--guttered [class*="unit-"] {
    padding-left: 1.625em; }

/*# sourceMappingURL=grid.css.map */