@import "helpers.scss";
/*      
    
    CONTENTS
    ========
    Base Classes
    Nudge & Pad Classes
    Buttons
    Lists
    Typography Helpers
    Form Helpers
    Tables
    Navigation

*/




/* ---------------------------------------- *\


    Base Classes


\* ---------------------------------------- */

.no-layout      { @extend %no-layout; }
.hidden         { @extend %hidden; }

.rounded        { @extend %rounded; }

.text-left      { text-align:left; }
.text-right     { text-align:right; }
.text-center    { text-align:center; }

.pull-right     { float:right; }
.pull-left      { float:left; }
.clear-both     { clear:both; }

.inline         { display:inline; }




/* ---------------------------------------- *\


    Nudge & Pad Classes


\* ---------------------------------------- */

[class^="nudge-"]   { position:relative; }
@for $nudge-amount from 1 through 10 {
    .nudge-up-#{$nudge-amount} {
        bottom: 0px + $nudge-amount;
    }
    .nudge-down-#{$nudge-amount} {
        top: 0px + $nudge-amount;
    }
    .nudge-left-#{$nudge-amount} {
        left: 0px + $nudge-amount;
    }
    .nudge-right-#{$nudge-amount} {
        right: 0px + $nudge-amount;
    }
}

.pad            { padding:          $grid-gutter-size; }
.pad-right      { padding-right:    $grid-gutter-size; }
.pad-left       { padding-left:     $grid-gutter-size; }
.pad-top        { padding-top:      $grid-gutter-size; }
.pad-bottom     { padding-bottom:   $grid-gutter-size; }
.pad-sides      { padding-left: $grid-gutter-size; padding-right: $grid-gutter-size;}




/* ---------------------------------------- *\


    Buttons


\* ---------------------------------------- */

%button {
    display:inline-block;
    border-bottom:1px solid;
    padding:.2em 1.1em .29em;
    margin:.125em 0;
    vertical-align:middle;
    font-weight:bold;
    @include transition(.2s ease-in-out background-color);
    background-color: $color-light-gray;
    border-bottom-color: $color-input-border;
    color:$color-text;
    text-shadow:0 1px 0 rgba(255,255,255,1);
    cursor:pointer;
    font-size:16px;

    &:hover {
        border-bottom-width:1px;
    }
}
.button,
.button--large,
.button--small {
    @extend %button;

    &:hover {
        background-color: darken($color-light-gray, 10%);
        border-bottom-width:1px;
    }
}
.button--link {
    @extend %button;
    background-color: transparent;
    border-color: transparent;
    color: $color-brand-dark;

    &:hover {
        background-color:transparent;
        text-decoration:underline;
    }
}
.button--main {
    @extend %button;
    background-color: $color-brand;
    border-color: $color-brand-dark;
    color:#fff;
    text-shadow:0 1px rgba(0,0,0,.2);

    &:hover {
        background-color: $color-brand-dark;
    }
}
.button--secondary {
    @extend %button;
    background-color: $color-brand-secondary;
    border-color: $color-brand-secondary-dark;
    color:#fff;
    text-shadow:0 1px rgba(0,0,0,.2);

    &:hover {
        background-color: $color-brand-secondary-dark;
    }
}
.button--warning {
    @extend %button;
    background-color: $color-warning;
    border-color: darken($color-warning, 15%);
    text-shadow:0 1px rgba(255,255,255,.25);
    
    &:hover {
        background-color: darken($color-warning, 15%);
    }
}
.button--serious {
    @extend %button;
    background-color: $color-error;
    border-color: darken($color-error, 15%);
    color:#fff;
    text-shadow:0 1px rgba(0,0,0,.2);
        
    &:hover {
        background-color: darken($color-error, 15%);
    }
}

.button--large {
    @extend %button;
    font-size:1.5em;
    padding:.5em 1.2em .55em;
}
.button--small {
    @extend %button;
    font-size:.70em;
    padding:.1em .75em .12em;
}

.button--block {
    display:block;
    text-align:center;
}




/* ---------------------------------------- *\


    Lists


\* ---------------------------------------- */

// kills list styles
.unstyled       { @extend %unstyled; }

// used on UL's for brand-colored bullets
.fancy-bullets {
    list-style:none;

    li {
        position:relative;

        &:before {
            content: "";
            width:0;
            height:0;
            position:absolute;
            top:.45em;
            left:-1.11em;
            border-top:5px solid transparent;
            border-bottom:5px solid transparent;
            border-left: 8px solid $color-brand;
        }
    }
}




/* ---------------------------------------- *\


    Typography Helpers


\* ---------------------------------------- */

// use on a div with two headings inside
.hgroup {
    :first-child {
        margin-bottom: .125em;
        line-height:1em;
    }
    :last-child {
        color:$color-text-light;
        font-weight:normal;
        margin-top:0;
    }
}

// for use on paragraphs to differentiate the first one
.lead {
    font-size: 1.25em;
    line-height: 1.35em;
    margin-top: .84615385em;
    margin-bottom: .52380952em;
}




/* ---------------------------------------- *\


    Form Helpers


\* ---------------------------------------- */

.input--fit { @extend %display-block; width:100%; }




/* ---------------------------------------- *\


    Tables


\* ---------------------------------------- */

.table--zebra {
    tr:nth-child(even) {
        td {
            background:$color-light-gray;
        }
    }
}

.table--borderless,
.table--borderless th,
.table--borderless td {
    border:none;
}
.table--borderless tr:last-child td {
    border-bottom:1px solid $color-light-gray;
}




/* ---------------------------------------- *\


    Navigation


\* ---------------------------------------- */

%nav {
    @extend %unstyled;
    a {
        display:inline-block;
        padding:.35em 1em .45em;

        &:hover {
            background: $color-light-gray;
            color: $color-brand-dark;
        }
    }
}
.nav {
    @extend %nav;
}
.nav--vertical {
    @extend %nav;

    a {
        display:block;
        padding:.45em .35em .55em;
    }
}
.nav--bordered {
    @extend %nav;

    border:1px solid $color-light-gray;
    @extend %rounded;
    @extend %clearfix;

    a {
        float:left;
        border-left:1px solid $color-light-gray;
        
        &:first-child {
            border-left:none;
        }
    }
}
.nav--bordered.nav--vertical {
    a {
        float:none;
        border-left:none;
        border-bottom:1px solid $color-light-gray;

        &:last-child {
            border-bottom:none;
        }
    }
}
.nav--pagination {
    @extend %nav;
    text-align:center;

    a {
        background-color:#fff;
    }
}